@font-face {
    font-family: SourceSansPro-Bold;
    src: url('fonts/source-sans-pro/SourceSansPro-Bold.ttf');
}
@font-face {
    font-family: SourceSansPro-Regular;
    src: url('fonts/source-sans-pro/SourceSansPro-Regular.ttf');
}

.blue-banner{
    background: rgb(0,32,96);
    width: 100%;
    font-family: SourceSansPro-Bold;
    color: white;
}

.withme{
    width: 200px;
}

i{
    color: white;
}

i:hover {
    color: rgb(242,169,0);
}

#sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: rgb(255,214,99); /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
#sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
#sidenav a:hover {
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
#sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}


div#sidenav-overlay{
    z-index: 900;
}

#logout{
    background:rgb(0,32,96);
    color: rgb(229,229,229);
    bottom: 30;
}
